@model IEnumerable<SportsStore.Domain.Models.Product>

@{
  Layout = "../Shared/_AdminLayout.cshtml";
}

<h2>Products</h2>

<p>@Html.ActionLink("Create new", "Create")</p>


<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td class="text-left">@item.ProductName</td>
            <td class="text-left">@item.Details</td>
            <td>@item.Price.ToString("c")</td>
            <td>@item.Category.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
        </tr>
    }

</table>